/**
 * Reset the margin and padding of the block elements
 */
body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,code,ol,ul,li,dl,dt,dd,figure,table,th,td,form,fieldset,legend,input,textarea {
    margin:0;
    padding:0;
}

/**
 * Basic element formatting
 */
table {
    border-spacing:0;
    border-collapse:collapse;
}
caption,th,td {
    text-align:left;
    text-align:start; /* see #4596 */
    vertical-align:top;
}
abbr,acronym {
    font-variant:normal;
    border-bottom:1px dotted #666;
    cursor:help;
}
blockquote,q {
    quotes:none;
}
fieldset,img {
    border:0;
}
ul {
    list-style-type:none;
}
sup {
    vertical-align:text-top;
}
sub {
    vertical-align:text-bottom;
}
del {
    text-decoration:line-through;
}
ins {
    text-decoration:none;
}
header,footer,nav,section,aside,article,figure,figcaption {
    display:block;
}

input,button,textarea,select {
    font-family:inherit;
    font-size:100%;
    font-weight:inherit;
}
pre,code {
    font-family:Monaco,monospace;
}


table {
    font-size:inherit;
}
caption,th {
    font-weight:bold;
}


// h1,h2,h3,h4,h5,h6,pre,blockquote,table,ol,ul,form {
//     margin-bottom:1rem; /* Should match the font size */
// 
//     &:last-child {
//         margin-bottom: 0;
//     }
// }