# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# App config
/app/config/parameters.yml

# Generated folders
/assets/
/files/
/system/
/var/
/vendor/
/web/*
/public/*
.htaccess
composer.phar
gulp.config.js
/node_modules/
/app/Resources/contao/config/runonce.php
/app

# Ioncube
/ioncube/encoded

# Contao Manager
/contao-manager/

# Ausßnamhen
#!/web/layout/
/.env.local
/webpack.config.browsersync.js
