.mod_breadcrumb {
    @include navigation;
    @include clear;

    a {
        color: $color-text;
    }

    li.active {
        color: $color-default;
    }

    li {
        float: left;
        @if ($font-awesome-active == true) {
            @include fa-inline-icon('\f101',0.5em,'after');
            &:after {
                padding-right: 0.5em;
            }
        } @else {
            &:after {
                content: " - ";
            }
        }
    }
    // Sie sind hier:
    h6 {
        margin-bottom: 0;
        font-size: inherit;
        font-weight: normal;
        float: left;
        padding-right: 5px;
    }
}