@use "sass:math";

nav {
    @include navigation;

    ul.level_2 {
        display: none;
    }

    a {
        color: $color-text;
    }

    a:hover, strong, a.trail, li:hover > a {
        color: $color-gray;
        text-decoration: none;
    }

    strong {
        font-weight: normal;
    }

    li:hover > ul {
        display: block;
    }
}

#header {
    .mainmenu {
        ul {
            a, strong {
                font-size: 16px;
            }
        }

        ul.level_1 {
            > li {
                float: left;

                > a, > strong {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.submenu ul {
                    position: absolute;
                    background-color: #fff;
                    z-index: 1000;
                    padding: round(math.div($base-spacing-s, $gc));

                    > li {
                        > a, > strong {
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
}

.nav_checkbox {
    left:-999999px;
    position:absolute;
}
.nav_toggle {
    display:none;

    &:after {
        cursor: pointer;
    }
}

#footer {
    .footermenu {
        ul {
            &.level_1 {
                > li {
                    float: left;
                    margin-right: 30px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.footer-soc-menu {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: $base-spacing-x-s;

        &:after {
            display: none;
        }

        a {
            position: relative;
            text-indent: -9999px;
            display: block;
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;

            &:hover {
                filter: grayscale(100);
            }

            &[href*=twitter] {
                background-image: url("/layout/img/twitter.png");
            }

            &[href*=facebook] {
                background-image: url("/layout/img/facebook.png");
            }

            &[href*=linkedin] {
                background-image: url("/layout/img/linkedin.png");
            }

            &[href*=xing] {
                background-image: url("/layout/img/xing.png");
            }
        }
    }
}
