@media screen and (max-width: 1024px) {
    
    // Stage
    .custom > #stage .mod_article.article-image + .mod_article {
        h1 {
            font-size: 48px;
        }
    }

    #header {
        .mainmenu {
            display: none;
        }
    }
    
    // Left Column
    $left-column-width: 250px;
    body.layout-left {
        #container {
            padding-left: $left-column-width;
        }

        #left {
            width: $left-column-width;
            right: $left-column-width;

            > .inside {
                padding-right: $base-spacing-s * 2;
            }
        }
    }
    // Right Column
    $right-column-width: 250px;
    body.layout-right {
        #container {
            padding-right: $right-column-width;
        }

        #right {
            width: $right-column-width;

            > .inside {
                padding-left: $base-spacing-s * 2;
            }
        }
    }

    .mod_jobs_member_profile_list {
        > div {
            &.layout_gallery {
                width: calc((100% - #{$gallery-spacing-profile-list * 6}) / 7);

                &:nth-child(8n) {
                    margin-right: $gallery-spacing-profile-list;
                }
                &:nth-child(7n) {
                    margin-right: 0;
                }
                &:nth-child(n+8) {
                    margin-top: $gallery-spacing-profile-list;
                }
            }
        }
    }

    // Mobile Navigation Start
    #header {
        .mainmenu {
            position: absolute;
            bottom: -$base-spacing-s;
            z-index: 1000;
            transform: translate(-50%, 100%);
            width: 100vw;
            left: 50%;
            background-color: rgba(255, 255, 255, 0.99);
            overflow: auto;
            display: block;

            ul {
                a, strong {
                    display: block;
                    padding: $base-spacing-s / $gc $base-spacing-s;
                    border-bottom: $base-border;
                }
            }

            ul.level_1 > li {
                float: none;
                margin: 0;

                > a, > strong {
                    padding-left: $content-padding-first-break-point;
                    padding-right: $content-padding-first-break-point;
                }

                &.submenu ul {
                    display: block;
                    position: static;
                    padding: 0;
                    background-color: transparent;
                }

                &.last {
                    a, strong {
                        border-bottom-color: $color-default;
                        border-bottom-width: 2px;
                    }
                }

                &.first {
                    a, strong {
                        border-top-color: $color-default;
                        border-top-width: $base-border-width;
                        border-top-style: $base-border-style;
                    }
                }
            }

            ul.level_2 {
                a, strong {
                    padding-left: $base-spacing-s * 2;
                }
            }
        }

        .nav_toggle {
            right: 34px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            display: block;
            z-index: 1001;

            &:after {
                display: block;
                font-size: 36px;
                font-family: $fa;
                content: "\f0c9";
            }
        }

        .nav_checkbox:checked {
            ~ .nav_toggle {

                &:after {
                    content: "\f00d";
                }
            }

            ~ .mainmenu {
                display: block;
            }
        }

        input[type=checkbox] + label.nav_toggle:before {
            display: none;
        }
    }
    // Mobile Navigation End
}