.ce_paymentgateway {
    .error {
        color: $color-alert;
    }

    .StripeElement {
        margin-bottom: $base-spacing;
        padding-top: calc(#{($base-line-height - 1.2) / 2 + 'em'} + #{$base-spacing-x-s});
        padding-bottom: calc(#{($base-line-height - 1.2) / 2 + 'em'} + #{$base-spacing-x-s});
        color: $color-text;
    }

    .paymentgateway-stripe {
        .credit-card-wrapper {
            display: grid;
            grid-template-columns: 60% 1fr 1fr;
            grid-column-gap: $base-spacing-s;

            .stripe-card-name {
                grid-column: 1 / span 3;
            }

            @media screen and (max-width: 770px){
                grid-template-columns: repeat(2, minmax(0%, 50%));

                .stripe-card-name, .stripe-card-number {
                    grid-column: 1 / span 2;
                }
            }
        }
    }
}