// Container
#container {
    .inside {
        p a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .mod_article.first > *:first-child, .mod_article.first > *:first-child > *:first-child {
        margin-top: 0;
    }
}

#main {
    .mod_article {
        padding-bottom: $base-spacing-x-large;

        .inside-article {
            > div, .ce_columns > div {
                margin-bottom: $base-spacing;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    pre, blockquote, table, ol, ul, form, p {
        margin-bottom: $base-spacing;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .ce_accordion + .ce_accordion {
        margin-top: $base-spacing-xx-s;
    }

    .ce_accordion + * {
        margin-top: $base-spacing;
    }
}

body:not(.layout-left):not(.layout-right) {
    #main {
        .mod_article {
            .inside-article {
                padding-left: $base-spacing;
                padding-right: $base-spacing;
                box-sizing: border-box;
            }

            &:first-child {
                .inside-article {
                    padding-top: $base-spacing-large;
                }
            }

            &:last-child {
                padding-bottom: 0;

                .inside-article {
                    padding-bottom: $base-spacing-large;
                }
            }
        }
    }
}

// Left & Right Column
body.layout-left, body.layout-right {
    #container {
        display: grid;
        grid-gap: $base-spacing;
        box-sizing: border-box;
        background-color: #fff;
        padding-left: $base-spacing;
        padding-right: $base-spacing;

        > * {
            grid-row: 1;
        }

        .inside > *:first-child {
            padding-top: $base-spacing-large;
        }
    }

    #main {
        grid-column-end: span 2;
    }

    #left {
        grid-column-start: 1;
        margin-left: 0;
        width: auto;
        right: 0;
    }

    #right {
        grid-column-start: 3;
        margin-right: 0;
        width: auto;
        left: 0;
    }

    #main, #left, #right {
        float: none;
    }
}

// Left Column
body.layout-left {
    #container {
        grid-template-columns: var(--left-column-width) auto auto;
    }

    #main {
        grid-column-start: 2;
    }
}


// Right Column
body.layout-right {
    #container {
        grid-template-columns: auto auto var(--right-column-width);
    }

    #main {
        grid-column-start: 1;
    }

    #right {
        position: relative;
        float: left;
        margin-right: -100%;
        width: $right-column-width;

        > .inside {
            padding-right: $base-spacing-large;
            padding-left: $base-spacing-large;
        }
    }
}

body.layout-right.layout-left {
    grid-template-columns: var(--left-column-width) auto var(--right-column-width);

    #main {
        grid-column-start: 2;
        grid-column-end: 2;
    }
}
