// Footer
#footer {
    background-color: #fff;

    .inside {
        padding-top: $base-spacing-s;
        padding-bottom: $base-spacing-s;

        > * {
            margin-right: $base-spacing-large;

            &:last-child {
                margin-right: 0;
            }
        }

        .inside-article {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-gap: $base-spacing-s;
            align-items: center;
            padding-left: $base-spacing-large;
            padding-right: $base-spacing-large;
            justify-items: center;

            @media screen and (max-width: 780px) {
                grid-template-columns: 100%;
            }
        }
    }
}
