#header {
    padding-top: $base-spacing-s;
    padding-bottom: $base-spacing-s;
    background-color: #fff;

    .inside {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            + * {
                margin-left: auto;
            }
        }
    }

    .logo {
        img {
            width: var(--logo-width);
            height: calc(var(--logo-width) * var(--logo-ratio));
        }
    }

    .invisible {
        display: none;
    }
}