:root {
    --logo-ratio: #{$logo-ratio};
    --logo-width: #{$logo-width};
    --logo-height: calc(var(--logo-width) * var(--logo-ratio));
    --right-coloumn-width: #{$right-column-width};
    --left-column-width: #{$left-column-width};
}

body {
    line-height: $base-line-height;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $color-text;
}