h1,%h1 {
    font-size: $base-font-size * 2;
}

h2,%h2 {
    font-size: $base-font-size * 1.5;
}

h3,%h3 {
    font-size: $base-font-size * 1.3;
}

h4,%h4 {
    font-size: $base-font-size * 1;
}

h1, h2, h3, h4,%h1,%h2,%h3,%h4 {
    font-weight: bold;
    line-height: $base-line-height;
    display: block;
}

h1, h2, h3, %h1, %h2, %h3 {
    margin-bottom: $base-line-height * $base-font-size / $gc;
    margin-top: 0;
    line-height: $base-line-height - 0.2;
}

* + h1, * + h2, * + h3 {
    margin-top: $base-line-height * $base-font-size * $gc;
}

p + p {
    padding-top: $base-line-height * $base-font-size;
}